html, body {
  height: 100%;
  width: 100%;
  background: #ffffff;
}

body {
  display: grid; 
  grid-template-rows: 10% 80%;
}

header {
  height: 100%;
  width: 100%;
}

#logoContainer {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
    background-color: rgb(185, 185, 185);
}

#logo {
  box-sizing: border-box;
  width: 75px;
  height: 75px;
}

main {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  display: grid; 
  grid-template-rows: 80% 20%;
}

#hero {
  display: grid;
  grid-template-columns: 70% 30%;
}

#heroLeft {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("/wireframe/images/security.jpeg");
  background-size: cover;
  color: black;
}

#heroLeft > h1 {
  font-size: 60px;
}

#heroLeft > input {
  width: 250px;
  height: 30px;
  border-radius: 15px;
}

#heroRight {
  display: grid;
  grid-template-rows: 20% 30% 50%;
}

.sideContent {
  margin: 10px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
}

#slideShow {
  height: 250px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#slideShow > input {
  padding: 7px;
  width: 250px;
  border-radius: 20px;
  position: relative;
  right: 150px;
  background: #3b3b3b;
  border: 1px black;
}

#humans {
  width: 100%;
  display: flex;
}

.human {
  border: 2px solid blue; 
  width: 20%;
  height: 200px;
  margin: 20px;
}

footer {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: blue;
}

/* Hamburger Nav Bar */

#menu {
    width: 35px;
    height: 30px;
    margin: 30px 0 20px 20px;
    cursor: pointer;
}

.bar {
    height: 5px;
    width: 100%;
    background-color: #000;
    display: block;
    border-radius: 5px;
}

#bar1 {
     transform: translateY(-4px)
}

#bar3 {
    transform: translateY(4px);
}

.change .bar {
    background-color: white;
}

.change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
}

.change #bar3 {
    transform: translateY(-6px) rotate(45deg);
}

.change #bar2 {
    opacity: 0;
}

.nav li a {
    color: #fff;
    text-decoration: none;
}

.nav li a:hover {
    font-weight: bold;
}

.nav li {
    list-style: none;
    padding: 16px 0px;
}

.nav {
    padding: 0;
    margin: 0px 20px;
    transition: 0.3s ease;
    display: none;
}

.change {
    display: block;
}

.menu-bg {
    z-index: 1;
    width: 0;
    height: 0;
    background: radial-gradient(circle,#000000,#4e4e4e);
    border-radius: 50%;
    transition: 0.3s ease;
}

#menu-bar {
    z-index: 2;
}

.menu-bg, #menu-bar {
    top: 0;
    left: 0;
    position: absolute;
}

.change-bg {
    width: 550px;
    height: 540px;
    transform: translate(-60%, -30%);
}