html, body {
  height: 100%;
  width: 100%;
}

body {
  display: grid; 
  grid-template-rows: 10% 80% 10%;
}

header {
  height: 100%;
  width: 100%;
}

nav {
  display: flex;
}

ul > a{
  text-decoration: none;
}

main {
  height: 100%;
  width: 100%;
}

footer {
  height: 100%;
  width: 100%;
  background-color: blue;
}