html, body {
  height: 100%;
  width: 100%;
}

body {
  display: grid; 
  grid-template-rows: 10% 80% 10%;
}

header {
  height: 100%;
  width: 100%;
}

#logoContainer {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#logo {
  box-sizing: border-box;
  width: 50px;
  height: 20px;
  background-color: red;
}

nav {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

nav > ul {
  margin: 2%;
}

ul > a{
  text-decoration: none;
}

main {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  display: grid; 
  grid-template-rows: 80% 20%;
}

#hero {
  display: grid;
  grid-template-columns: 70% 30%;
}

#heroLeft {
  margin: 10px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 200px;
}

#heroLeft > h1, #heroLeft > input {
  position: relative;
  bottom: 45px;
}

#heroLeft > h1 {
  font-size: 60px;
}

#heroLeft > input {
  width: 250px;
  height: 30px;
  border-radius: 15px;
}

#heroRight {
  display: grid;
  grid-template-rows: 20% 30% 50%;
}

.sideContent {
  margin: 10px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
}

#slideShow {
  height: 250px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.human {
  border: 2px solid blue; 
  width: 20%;
  height: 200px;
  margin: 20px;
}

footer {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: blue;
}